* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(40, 40, 40);
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

@keyframes pulseBorderColour {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }

}

@keyframes pulseButtonColour {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #19a780;
  }

  100% {
    background-color: transparent;
  }

}

@keyframes pulseSelected {
  0% {
    background-color: white;
  }

  50% {
    background-color: #ffeda1;
  }

  100% {
    background-color: white;
  }

}

@keyframes pulseFeedback {
  0% {
    height: 0px;
  }

  50% {
    height: 5px;
  }

  100% {
    height: 0px;
  }

}

@keyframes pulseFeedbackContainer {

  0% {
    background-color: #272727;
  }

  25% {
    background-color: #00a680;
  }

  50% {
    background-color: #272727;
  }

  75% {
    background-color: #00a680;
  }

  100% {
    background-color: #272727;
  }

}



.highlightBorder {
  border: 4px solid transparent !important;
  animation-name: pulseBorderColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.non-active {
  pointer-events: none;
}

.active {
  pointer-events: all;
}

.current-selection {
  animation-name: pulseSelected;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.active-feedback {
  animation: pulseFeedback;
  animation-duration: 1s;
  animation-iteration-count: 1;
  border-radius: 6px;
}

.highlightFeedback {
  animation: pulseFeedbackContainer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.answer {
  display: none;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 100px;
  height: 50px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
  margin-left: 25px;
}

.answer:hover {
  background: #00a680;
}

#guide-button {
  display: none;
}