#main-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 2000px;
  height: 740px;
  display: none;
  grid-template-areas:
    'header header header header header header'
    'interaction interaction stack stack stack stack'
    'feedback feedback feedback feedback feedback feedback';
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#main-header-grid {
  grid-area: header;
  height: 50px;
  background: rgb(40, 40, 40);
  position: relative;
}

#header-title-container {
  position: absolute;
  left: 10px;
}

#header-title {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
}

#help {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#help:hover {
  background: #00a680;
}

#interaction-grid {
  grid-area: interaction;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom: none;
  border-right: none;
  border-bottom-right-radius: 0;
  background: rgb(49, 49, 49);
  position: relative;
}

#interaction-grid-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#interactive-string {
  position: relative;
  background: rgb(40, 40, 40);
  border-radius: 5px;
  width: 100%;
  height: 100px;
}

#interactive-string-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
  display: none;
}

#stack-string-container {
  list-style-type: none;
  width: 99%;
  max-width: 700px;
  height: 80px;
  background: #00a680;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 13px;
}

#stack-string-inner-container {
  position: absolute;
  width: 98%;
  height: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: rgb(40, 40, 40);
  border-radius: 8px;
}

.stack-array-element {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: white;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.stack-array-element:hover {
  background: #ffeda1;
}

.stack-element {
  font-size: 56px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 10px;
  text-transform: uppercase;
}

#interactive-buttons-stack {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 362px;
  padding-top: 10px;
}

#interactive-buttons-stack-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 362px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
  display: none;
}

.custom-button {
  position: relative;
  display: block;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 27px;
  width: 250px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  margin: auto;
  margin-bottom: 14px;
}

.custom-button:hover {
  background: #00a680;
  transition: background-color 2s;
}

#button-feed-container {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 2px;
  width: 100%;
  height: 100px;
  background: #272727;
  border-radius: 8px;
  text-align: center;
}

#button-feed {
  color: white;
  font-size: 28px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: 34px;
  text-transform: capitalize;
}

#hr-feed {
  background: white;
  position: relative;
  top: 18px;
}

#interactive-buttons-reset {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  border-radius: 8px;
  width: 95%;
  margin: auto;
  height: 108px;
  background: #00a680;
}

#interactive-buttons-reset-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 108px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
  display: none;
}

#interactive-buttons-reset-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 90px;
  background: rgb(40, 40, 40);
  border-radius: 8px;

}

#reset-button {
  position: absolute;
  left: 20px;
  bottom: 6px;
  width: 220px;
}

#random-button {
  position: absolute;
  right: 20px;
  bottom: 6px;
  width: 220px;
}

#stack-grid {
  grid-area: stack;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  background: rgb(49, 49, 49);
  position: relative;
}

#stack-grid-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#stack-container {
  position: relative;
  width: 100%;
  height: 500px;
}

#stack-list {
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 0;
  top: 500px;
  z-index: 200;
  ;
}

.stack-node {
  display: block;
  position: relative;
  width: 200px;
  height: 38px;
  background-image: url("../images/stack_node.gif");
  background-size: 200px 38px;
  margin: auto;
  background-repeat: no-repeat;

}

.stack-val {
  display: block;
  width: 66px;
  height: 51px;
  background: #282828;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  position: relative;
  bottom: 56px;
  left: 67px;
  text-align: center;
  align-content: center;
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  border: 2px solid #19a780;
}

.not-visible {
  color: transparent;
  display: none;
}

#stack-base {
  position: absolute;
  width: 545px;
  height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

#empty-stack-text {
  color: white;
  font-size: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 230px;
  bottom: 36px;
  text-align: center;
}

#stack-answer-string {
  position: relative;
  background: rgb(40, 40, 40);
  width: 100%;
  height: 100px;
}

#stack-answer-container {
  list-style-type: none;
  width: 98%;
  max-width: 700px;
  height: 80px;
  background: #00a680;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 13px;
}

#stack-answer-inner-container {
  position: absolute;
  width: 98%;
  height: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background: rgb(40, 40, 40);
  border-radius: 8px;
}

.stack-answer-element {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: white;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.answer-element {
  font-size: 56px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 10px;
  text-transform: uppercase;
}

#main-feedback-grid {
  grid-area: feedback;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  position: relative;
}

#information {
  text-align: center;
  height: 100%;
  background: #212121;
}

.button-next {
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 7px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  animation-name: pulseButtonColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-skip {
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 7px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#suggestion {
  display: inline-block;
  font-size: 42px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
  position: relative;
  top: 16px;
}


@media only screen and (max-width: 1350px) {

  #main-container-grid {
    position: relative;
    background: rgb(40, 40, 40);
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 2000px;
    height: 740px;
    display: none;
    grid-template-areas:
      'header header header header header header'
      'interaction interaction interaction interaction interaction interaction'
      'stack stack stack stack stack stack'
      'feedback feedback feedback feedback feedback feedback';
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #interaction-grid {
    grid-area: interaction;
    height: 290px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #interactive-string {
    position: relative;
    width: 100%;
    height: 100px;
  }

  #interactive-buttons-stack {
    position: relative;
    width: 100%;
    height: 110px;
    text-align: center;
  }

  #button-feed-container {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 50px;
    width: 100%;
    height: 53px;
    background: #272727;
    border-radius: 8px;
    text-align: center;
  }

  #button-feed {
    color: white;
    font-size: 28px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 8px;
  }

  #hr-feed {
    background: white;
    position: relative;
    top: -14px;
  }

  #interactive-buttons-reset {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    height: 65px;
    background: #00a680;
  }

  #interactive-buttons-reset-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 48px;
    background: rgb(40, 40, 40);
    border-radius: 8px;
  }

  #reset-button {
    position: absolute;
    left: 20px;
    bottom: -9px;
    width: 220px;
    height: 37px;
  }

  #random-button {
    position: absolute;
    right: 20px;
    bottom: -9px;
    width: 220px;
    height: 37px;
  }

  .custom-button {
    position: relative;
    display: inline-block;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    width: 155px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
    bottom: 4px;
  }

  #stack-grid {
    grid-area: stack;
    height: 542px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    position: relative;
  }

  #stack-container {
    position: relative;
    width: 100%;
    height: 442px;
  }

  #stack-answer-string {
    position: relative;
    width: 100%;
    height: 100px;
  }

  #stack-base {
    position: absolute;
    width: 436px;
    height: 240px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
  }

  #empty-stack-text {
    color: white;
    font-size: 35px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    bottom: 7px;
    text-align: center;
  }

  #main-feedback-grid {
    grid-area: feedback;
    height: 106px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    position: relative;
  }

  #suggestion {
    display: inline-block;
    font-size: 24px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 34px;
  }

  .button-next {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 36px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 36px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  .answer {
    display: none;
    background: none;
    border: 1px solid white;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.712);
    font-size: 22px;
    width: 80px;
    height: 33px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    transition: all 1s;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 30px;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
  .button-next {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  #suggestion {
    display: inline-block;
    font-size: 30px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 30px;
  }

  .answer {
    display: none;
    background: none;
    border: 1px solid white;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.712);
    font-size: 26px;
    width: 80px;
    height: 40px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    transition: all 1s;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 28px;
  }
}